body {
	background: white;
	font-family: Alata, Abel, Verdana, Geneva, sans-serif;
	background:white;
}

.header {
	font-family: Alata, Abel, Verdana, Geneva, sans-serif;
	border-bottom: solid #001c3b 1px;
	overflow: auto;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  padding: 5px;
	padding-inline: 18px;
  text-decoration: none;
  font-size: 18px;
}

.header .smallLogo img {
  max-height: 30px;
}

.header a.active {
  font-weight: 700;
	text-decoration: overline solid 5px;
}

.menuLinks {
  float: right;
}

div.logo {
	text-align: center;
}

div.logo img {
	max-height: 250px;
	margin-top: 60px;
}

div.siteName {
	color: #007AFF;
	text-align: center;
	font-family: Alata, Abel, Verdana, Geneva, sans-serif;
	font-size: 80px;
	font-weight: 700;
}

div.boldText {
	text-align: center;
	padding-block: 20px;
	font-family: Alata, Abel, Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: #001c3b;
}

div.subTitle {
	text-align: center;
	font-family: Alata, Abel, Verdana, Geneva, sans-serif;
	font-size: 50px;
	color: #001c3b;
	padding-top: 50px;
	padding-bottom: 20px
}

div.sectionImage {
	text-align: center;
}

div.sectionImage img {
	max-height: 100px;
	margin-top: 20px;
}

div.boxMenuOptionsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


div.category {
	background-color: #007aff;
	color: white;
	text-align: center;
	font-size: 30px;
	font-family: Alata, Abel, Verdana, Geneva, sans-serif;
	padding: 30px;
	margin-inline: 70px;
	margin-block: 30px;
	width: 20%;
	border-radius:0.5em;
}

.buttonContent {
	display: block;
	max-height: 100px;
	text-align: center;
	margin: auto;
	color: white;
	text-decoration: none;
}

.category a:hover {
	color: white;
}

.contactForm {
	margin: auto;
	text-align: center;
	font-size: 1.5em;
}

.emailContact {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

.emailContact a {
	color: #007aff;
	text-decoration: none;
}

.footer {
	font-family: Alata, Abel, Verdana, Geneva, sans-serif;
	text-align: center;
	border-top: solid #001c3b 1px;
}

.footer a {
	text-decoration: none;
	color: #001c3b;
}

.footerLogos {
	width: 100%;
	list-style: none;
	text-align: center;
	display: inline-flex;
	flex-flow: row; 
	justify-content: space-evenly;
	margin: 0;
	margin-top: 10px;
	padding: 0;
}

.footerLogos li {
	text-decoration: none;
}

.footer #copyrights {
	padding-right: 75px;
}

.footerLogo {
	text-decoration: none;
}

.footerLogo img {
	text-align: center;
	max-width: 30px;
	max-height: 30px;
	padding-inline: 10px;
}

.acknowledgments {
	font-size: 8px;
	color: #001c3b;
}

.acknowledgments a {
	text-decoration: none;
	color: #001c3b;
}

a:hover{ color: #007aff; }